<div class="ui-g form-group">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Serviço</h1>
      <form autocomplete="off" (ngSubmit)="consultar()">
        <p-toolbar >
          <div class="ui-toolbar-group-left">
            <div class="ui-g-12 ">
              <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                      placeholder="DESCRIÇÃO">

              <button pButton button-consultar type="submit" icon="fa fa-search" title="SALVAR"></button>
            </div>
          </div>
          <div class="ui-toolbar-group-right">
            <button pButton button-cadastrar type="button" icon="ui-icon-plus" label="NOVO"
                    routerLink="/servico/novo" ></button>
          </div>
        </p-toolbar>
        <p-table [value]="listaEntidade" [paginator]="true" paginatorPosition="both" [lazy]="true"
                 (onLazyLoad)="loadLazy($event)" [paginator]="true"
                 [rows]="5" [totalRecords]="totalElements">
          <ng-template pTemplate="header">
            <tr>
              <th col-acoes>AÇÕES</th>
              <th>DESCRIÇÃO</th>
              <th>SIGLA</th>
              <th>Nº ATENDIMENTO</th>
              <th>ATIVO</th>
              <th col-cor></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entidade >
            <tr>
              <td col-acoes>
                <button pButton button-alterar type="button" icon="ui-icon-edit"
                        [routerLink]="['/servico', entidade.sequencial]" ></button>
              </td>
              <td style="text-align: center">{{entidade.descricao}}</td>
              <td style="text-align: center">{{entidade.sigla}}</td>
              <td style="text-align: center">{{entidade.numeroAtendimentoAtual}}</td>
              <td style="text-align: center" *ngIf="entidade.ativo">SIM</td>
              <td style="text-align: center" *ngIf="!entidade.ativo">NÃO</td>
              <td style="text-align: center;">
              <span style="display: block; width: 16px; height: 16px; border-radius: 50%; text-align: center;"
                    [style.background-color]="entidade.tipoCorEnum.html" [title]="entidade.tipoCorEnum.name">
              </span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="6">
                Nenhum registro encontrado!
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </div>
  </div>
</div>



