<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-lg-6">
    <div class="card card-w-title">
      <p-panel>
        <p-header>
          <div class="ui-toolbar-group-center">
            <h1><span>Qual sua localização ?</span></h1>
          </div>
        </p-header>
        <div class="ui-g dashboard">
          <div class="ui-g-12">
            <div *ngIf="!localizacao">
              <div *ngFor="let entidade of localizacoes">
                <div class="ui-g-2">
                  <a (click)="selecionarLocalizacao(entidade)" href="javascript:void(0)">
                    <div class="ui-g card colorbox colorbox-1">
                      <div class="ui-g-12">
                        <span class="colorbox-name">{{entidade.tipo.descricao}}</span>
                        <span class="colorbox-count">{{entidade.descricao}}</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div *ngIf="localizacao">
              <div class="ui-g-1">
              </div>

              <div class="ui-g-3">
                <a (click)="chamarProximo()" href="javascript:void(0)">
                  <div class="ui-g card colorbox colorbox-1">
                    <div class="ui-g-4">
                      <span class="colorbox-count"> {{atendimentosEmEspera?.length}} </span>
                      <span class="colorbox-name"> ESPERA </span>
                    </div>
                    <div class="ui-g-8">
                      <span class="colorbox-name" style="font-weight: bold">CHAMAR PRÓXIMO</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="ui-g-3">
                <a (click)="chamarNovamenteAtendimentoAnterior()" href="javascript:void(0)">
                  <div class="ui-g card colorbox colorbox-2">
                    <div class="ui-g-5">
                      <span class="colorbox-count" *ngIf="entidade"> {{entidade?.numeroAtendimentoFormatado}} </span>
                      <span class="colorbox-count" *ngIf="!entidade"> X </span>
                      <span class="colorbox-name"> SENHA </span>
                    </div>
                    <div class="ui-g-7">
                      <span class="colorbox-name" style="font-weight: bold">CHAMAR NOVAMENTE</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="ui-g-3">
                <a (click)="alterarLocalizacao()" href="javascript:void(0)">
                  <div class="ui-g card colorbox colorbox-3">
                    <div class="ui-g-4">
                      <span class="colorbox-count">{{localizacao.descricao}} </span>
                      <span class="colorbox-name"> {{localizacao.tipo.descricao}} </span>
                    </div>
                    <div class="ui-g-8">
                      <span class="colorbox-name" style="font-weight: bold">ALTERAR LOCALIZAÇÃO</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="ui-g-1">
              </div>

              <div class="ui-g-6">
                <p-table [value]="atendimentosRealizados" dataKey="sequencial">
                  <ng-template pTemplate="caption">
                    ATENDIDOS
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="text-align: center; width: 50px"></th>
                      <th>SENHA</th>
                      <th>SERVIÇO</th>
                      <th>HORÁRIO</th>
                      <th style="text-align: center; width: 40px"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-entidade>
                    <tr [pSelectableRow]="entidade">
                      <td>
                        <button pButton button-alterar type="button" icon="ui-icon-loop"
                          (click)="chamarNovamente(entidade)"></button>
                      </td>
                      <td style="text-align: center">{{entidade.numeroAtendimentoFormatado}}</td>
                      <td style="text-align: center">{{entidade.servico.descricao}}</td>
                      <td style="text-align: center">{{entidade.horaChamada}}</td>
                      <td>
                        <span style="display: block; width: 16px; height: 16px; border-radius: 50%; text-align: center;"
                          [style.background-color]="entidade.servico.tipoCorEnum.html"
                          [title]="entidade.servico.tipoCorEnum.name">
                        </span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="5">
                        Não existem atendimentos em espera.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <div class="ui-g-6">
                <p-table [value]="atendimentosEmEspera" dataKey="sequencial">
                  <ng-template pTemplate="caption">
                    EM ESPERA
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>SENHA</th>
                      <th>SERVIÇO</th>
                      <th>ESPERA</th>
                      <th style="text-align: center; width: 40px"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-entidade>
                    <tr [pSelectableRow]="entidade">
                      <td style="text-align: center">{{entidade.numeroAtendimentoFormatado}}</td>
                      <td style="text-align: center">{{entidade.servico.descricao}}</td>
                      <td style="text-align: center">{{entidade.tempoDecorrido}}
                      <td>
                        <span style="display: block; width: 16px; height: 16px; border-radius: 50%; text-align: center;"
                          [style.background-color]="entidade.servico.tipoCorEnum.html"
                          [title]="entidade.servico.tipoCorEnum.name">
                        </span>
                      </td>

                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="5">
                        Não existem atendimentos em espera.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>