[colunaEsquerda] {
    height: 100vh; 
    float: left; 
    background: #4c87b9; 
    position: relative;
}

[colunaDireita] {
    height: 100vh; 
    float: left; 
    background: #00264d;
}

@media only screen and (min-width: 320px) {
   .font-size-1 {font-size: 25px;}
   .font-size-2 {font-size: 35px;}
   .font-size-3 {font-size: 100px;}
   .font-size-4 {font-size: 25px;}
   .font-size-5 {font-size: 35px;}
}

@media only screen and (min-width: 480px) {
   .font-size-1 {font-size: 25px;} 
   .font-size-2 {font-size: 35px;}
   .font-size-3 {font-size: 100px;}
   .font-size-4 {font-size: 25px;}
   .font-size-5 {font-size: 35px;}
}

@media only screen and (min-width: 480px) and (orientation: landscape) {
   .font-size-1 {font-size: 20px;} 
   .font-size-2 {font-size: 30px;}
   .font-size-3 {font-size: 80px;}
   .font-size-4 {font-size: 20px;}
   .font-size-5 {font-size: 30px;}
}

@media only screen and (min-width: 600px) {
   .font-size-1 {font-size: 30px;}
   .font-size-2 {font-size: 40px;}
   .font-size-3 {font-size: 150px;}
   .font-size-4 {font-size: 30px;}
   .font-size-5 {font-size: 40px;}
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
   .font-size-1 {font-size: 20px;}
   .font-size-2 {font-size: 30px;}
   .font-size-3 {font-size: 100px;}
   .font-size-4 {font-size: 20px;}
   .font-size-5 {font-size: 30px;}
}

@media screen and (min-width:992px) {
   .font-size-1 {font-size: 30px;}
   .font-size-2 {font-size: 45px;}
   .font-size-3 {font-size: 200px;}
   .font-size-4 {font-size: 30px;}
   .font-size-5 {font-size: 60px;}
}

@media screen and (min-width:1382px) {
   .font-size-1 {font-size: 45px;}
   .font-size-2 {font-size: 65px;}
   .font-size-3 {font-size: 240px;}
   .font-size-4 {font-size: 30px;}
   .font-size-5 {font-size: 60px;}
}