<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1><span>Localização</span></h1>
        <form #formEntidade="ngForm" autocomplete="off" (submit)="salvar()">
          <p-panel>
            <p-header>
              <div class="ui-toolbar-group-left">
                <button pButton button-consultar type="button" icon="ui-icon-search" title="VOLTAR PARA CONSULTA"
                        routerLink="/localizacao"></button>
              </div>
              <div class="ui-toolbar-group-right">
                <button pButton button-salvar type="submit" icon="ui-icon-save" title="SALVAR" [disabled]="formEntidade.invalid"></button>
              </div>
            </p-header>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-4 ">
                  <label>Descrição *</label><br/>
                  <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao" #descricao="ngModel" required style="width: 100%; ">
                  <app-message [control]="descricao" error="required" text="Obrigatório informar a descrição"></app-message>
                </div>
                <div class="ui-g-12 ui-md-4 "> 
                  <label>Tipo *</label><br/>
                  <p-dropdown  name="cor" [(ngModel)]="entidade.tipo" #cor="ngModel" optionLabel="descricao" [options]="tipos"
                               placeholder="SELECIONE" showClear="true" required="true"></p-dropdown>
                  <app-message [control]="cor" error="required" text="Obrigatório informar o Tipo"></app-message>
                </div>
                <div class="ui-g-12 ui-md-4 ">
                  <label>Ativo *</label><br/>
                  <p-toggleButton name="ativo" [(ngModel)]="entidade.ativo" onLabel="SIM" offLabel="NÃO"></p-toggleButton>
                </div>
              <div class="ui-g-12 ui-md-12">
                <p-panel>
                  <p-header>
                    <div class="ui-toolbar-group-left">
                      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Serviços</span>
                    </div>
                    <div class="ui-toolbar-group-right">
                    </div>
                  </p-header>
                  <p-table [value]="servicos" [(selection)]="entidade.servicos" dataKey="id" [responsive]="true">
                    <ng-template pTemplate="header">
                      <tr>
                        <th col-acoes>
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>DESCRIÇÃO</th>
                        <th>SIGLA</th>
                        <th>Nº ATENDIMENTO</th>
                        <th>ATIVO</th>
                        <th col-cor></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-entidade >
                      <tr [pSelectableRow]="entidade">
                        <td col-acoes>
                          <p-tableCheckbox [value]="entidade"></p-tableCheckbox>
                        </td>
                        <td style="text-align: center">{{entidade.descricao}}</td>
                        <td style="text-align: center">{{entidade.sigla}}</td>
                        <td style="text-align: center">{{entidade.numeroAtendimentoAtual}}</td>
                        <td style="text-align: center" *ngIf="entidade.ativo">SIM</td>
                        <td style="text-align: center" *ngIf="!entidade.ativo">NÃO</td>
                        <td style="text-align: center;">
                          <span style="display: block; width: 16px; height: 16px; border-radius: 50%; text-align: center;"
                                [style.background-color]="entidade.tipoCorEnum.html" [title]="entidade.tipoCorEnum.name">
                          </span>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td [attr.colspan]="6">
                          Nenhum serviço selecionado"
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-panel>
              </div>
            </div>
            <p-footer>
              * Campo Obrigatório
            </p-footer>
          </p-panel>
        </form>
      </div>
    </div>
  </div>
</div>

