
<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1><span>Tipo Localização</span></h1>
        <form #formEntidade="ngForm" autocomplete="off" (submit)="salvar()">
          <p-panel>
            <p-header>
              <div class="ui-toolbar-group-left">
                <button pButton button-consultar type="button" icon="ui-icon-search" title="VOLTAR PARA CONSULTA"
                        routerLink="/tipo-localizacao"></button>
              </div>
              <div class="ui-toolbar-group-right">
                <button pButton button-salvar type="submit" icon="ui-icon-save" title="SALVAR" [disabled]="formEntidade.invalid"></button>
              </div>
            </p-header>

            <div class="ui-g form-group">
              <div class="ui-g-12 ">
                <label>Descrição *</label><br/>
                <input pInputText type="text" name="nome"  [(ngModel)]="entidade.descricao" #descricao="ngModel" required style="width: 100%; ">
                <app-message [control]="descricao" error="required" text="Obrigatório informar a descrição"></app-message>
              </div>
            </div>
          </p-panel>
        </form>
      </div>
    </div>
  </div>
</div>
