<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Atendimento</span>
                <span class="overview-badge"></span>
                <span class="overview-detail">{{dashboard?.quantidadeAtendimentoNoMes}}/Mês</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/sales.svg" style="width: 100%" />
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Atendimento</span>
                <span class="overview-badge"></span>
                <span class="overview-detail">{{dashboard?.quantidadeAtendimentoNaSemana}}/semana</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/views.svg" style="width: 100%" />
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card colorbox colorbox-1">
            <div class="ui-g-4">
                <i class="material-icons">people</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Atendidos/Hoje</span>
                <span class="colorbox-count">{{dashboard?.quantidadeAtendimentosHoje}}</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card colorbox colorbox-3">
            <div class="ui-g-4">
                <i class="material-icons">report</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Em Espera/Hoje</span>
                <span class="colorbox-count">{{dashboard?.quantidadeAtendimentosemEsperaHoje}}</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card colorbox colorbox-2">
            <div class="ui-g-4">
                <i class="material-icons">build</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Serviços</span>
                <span class="colorbox-count">{{dashboard?.quantidadeServicos}}</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card colorbox colorbox-4">
            <div class="ui-g-4">
                <i class="material-icons">bookmark</i>
            </div>
            <div class="ui-g-8">
                <span class="colorbox-name">Localidades</span>
                <span class="colorbox-count">{{dashboard?.quantidadeLocalidades}}</span>
            </div>
        </div>
    </div>
</div>