[col-acoes] {
  text-align: center !important;
  width: 150px;
}

[col-cor] {
  text-align: center !important;
  width: 50px !important;
}

[button-cadastrar] {
  background-color: #5180ce !important;
}

[button-salvar] {
  background-color: #5180ce !important;
}

[button-consultar] {
  background-color: #5180ce !important;
}

[button-alterar] {
  background-color: #5180ce !important;
}

[button-excluir] {
  background-color: #f44336 !important;
}

[pinputtext] {
  text-transform: uppercase;
}

body .ui-table .ui-table-thead > tr > th {
  font-weight: bold;
  text-align: center;
}

body .ui-dialog .ui-dialog-content {
  background-color: #ffd966 !important;
}

.ui-dialog-resizable .ui-dialog-content {
  background-color: #ffd966 !important;
}
